.pwd-container {
  position: relative;
}

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 35px;
  right: 10px;
  margin-top: 17px;
  z-index: 1;
}
.button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
